ENV=dev
PORT=4000
DOMAIN=localhost
DSN="host=localhost user=postgres password=postgres dbname=ecommerce port=5432 sslmode=disable TimeZone=Asia/Tehran"
JWT_SECRET=change-me
ADMIN_NAME=Admin
ADMIN_MOBILE=09120000000
ADMIN_PASSWORD=change-me
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ecommerce
MINIO_USE_SSL=false
MINIO_PUBLIC_URL=
ZIBAL_MERCHANT=zibal
ZIBAL_CALLBACK_URL=http://localhost:4000/api/payment/callback
CLIENT_PAYMENT_REDIRECT_URL=http://localhost:3000/payment/result
